.landingPage {
  h1 {
    align-self: flex-start;
    font-size: 41px;
    color: #8c5522;
    font-weight: 600;
  }

  h2 {
    font-size: 19px;
    text-align: justify;
  }

  #home {
    display: flex;
    justify-content: center; /* Centraliza os filhos horizontalmente */
    align-items: center; /* Centraliza os filhos verticalmente */
    min-height: 675px;
    width: 100%; /* Ocupa toda a largura da tela */
    max-width: 3080px; /* Limita a largura máxima */
    margin: 0 auto; /* Centraliza o container na tela */
    position: relative; /* Para posicionar os círculos absolutos */

    #cta {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 28px;
      padding: 3%; /* Substitui margin por padding para melhor alinhamento */
      width: 100%;

      .title {
        font-size: 100px;
        color: rgb(83, 46, 21);
        font-family: "MontserratAlternates-Bold", sans-serif;
      }

      .subtitle {
        font-size: 24px;
        color: rgb(83, 46, 21);
        // text-align: center;

        span {
          font-weight: 700;
          color: rgb(112, 53, 14);
        }
      }
    }

    #banner {
      width: 35%;
      display: flex;
      justify-content: center; /* Centraliza a imagem horizontalmente */
      align-items: center; /* Centraliza a imagem verticalmente */

      img {
        width: 100%; /* Ajusta a imagem ao container */
        max-width: 400px; /* Limita o tamanho da imagem */
        height: auto;
      }
    }

    .circulo {
      width: 900px;
      height: 900px;
      background-color: #ffa21f;
      border-radius: 50%;
      position: absolute;
      left: -200px;
      top: -300px;
      z-index: -1;
      opacity: 0.74;
    }

    .circulo2 {
      width: 515px;
      height: 515px;
      background-color: #aa2e17;
      border-radius: 50%;
      position: absolute;
      right: 37%; /* Ajustado para não cobrir o CTA */
      bottom: 10px;
      z-index: -1;
      opacity: 0.74;
    }
  }

  .sobremim {
    background-image: url("../../../public/images/SobreMim-Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 477px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .areaTexto {
      width: 62%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      h1 {
        padding-left: 2em;
        font-style: italic;
      }
    }

    .frame {
      width: 36%;
      height: 100%;

      img {
        width: 69%;
        height: 85%;
        object-fit: cover;
        align-self: center;
        justify-self: center;
        border-radius: 17px;
        box-shadow: 0px 0px 12px 3px #00000061;
      }
    }
  }

  .contato {
    background-image: url("../../../public/images/Contato-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      align-self: center;
      text-align: center;
      font-style: italic;
    }

    .bloco {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(255 255 255);
      width: 55%;
      height: 90%;
      border-radius: 50px;
      box-shadow: 0px 0px 12px 3px #0000002a;

      h2 {
        align-self: center;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 93%;
        height: 84%;

        input,
        textarea {
          width: 100%;
          height: 50px;
          border-radius: 10px;
          border: 1px black solid;
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 20px;
          font-size: 18px;
        }

        textarea {
          height: 160px;
          resize: none;
        }

        button {
          width: 40%;
          height: 50px;
          background-color: #8c5522;
          color: white;
          font-size: 20px;
          font-weight: 600;
          border-radius: 10px;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #ffa21fbd;
            color: #8c5522;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }

  footer {
    background-color: #b6381b;
    color: white;
    display: flex;
    flex-direction: row;
    height: 35vh;
    align-items: center;
    /* padding-top: 30px; */
    justify-content: space-evenly;

    .novidades {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 30%;
      height: 45%;

      div {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        width: 47%;

        .icones {
          width: 44px;
          height: auto;
        }
      }
    }

    .footer-contato {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding-top: 1%;
      width: 30%;
      height: 45%;
    }

  }
}
